/* 
This is the style for the whole page
*/
body{
    margin-left: 120px;
    position: absolute;
    padding-top: 50px;
    background-color: rgb(244, 231, 255);
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: helvetica;
   

}
/* 
This is the style for the only header saying Welcome to the community
*/

h1{
    color: rgb(155, 6, 155);
    font-size: 55px;
    font-weight:200px;
    padding: 0px;

   
  

}
/* 
This is the style for the image under header #A050B0 #F5E9FF
*/
#image{
    width: 80%;
    height: 70%;

    
}

/* 
This is the style for the div to separate 2 parts of the page
*/
.container{
    display: flex;
}
/* 
This is the style for the div of only(left part) welcome to our community and its image
*/
.welcome{
    border-right: 2px solid rgb(240, 179, 240);
    width: 50%;
    margin-right: 50px;
}
/* 
This is the style for the first and last name
*/
.first{
    display: flex;
    gap: 60px;
}
/* 
This is the style for the inputs or the boxes in the form
*/
input{
    width:300px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 1.2px solid rgb(219, 211, 211);
}
/* 
This is the style for the sign-up word on button
*/
.sign-up{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 40px;

}
/* 
This is the style for the  only email width
*/
#email{
    width:100%
}
/* 
This is the style for the  password input 
*/
#password{
    width: 100%;
}
/* 
This is the style for the confirm password input
*/
#Confirm-password{
    width: 100%
}
/* 
This is the style for the button
*/
#button{
    background-color: rgb(155, 7, 155);
    color: white;
    width:101.5%;
    height:40px;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    margin-top: 20px;
   
}
#button:hover{
    background-color: rgb(12, 204, 238);
}

/* 
This is the style for the sign in inside a button 
*/
#signing-in{
    color: blueviolet;
    text-decoration: none;
    font-weight: bolder;
}
/* 
This is the style for the text under button
*/
.already-account{
    text-align: center;
    margin-top: 40px;
}
/* 
This are the styles for the specific icon
*/
#facebook{
    text-decoration: none;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    
   

 
}
#google{
    margin-left: 200px;
    justify-content: center;
    width: 50px;
    height: 30px;
    padding: 20px;
    background-color: rgb(255, 255, 255);

}
#apple{
    color: black;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(255, 255, 255);

}
/* 
This is the style for the icons navigation.
*/
.icons{
    display: flex;
    gap: 60px;
    margin-top: 20px;
}
/* 
This is the style for the line which has or
*/
.line {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px; 
  }
  .line hr {
    flex: 1;
    border: 0;
    border-bottom: 1px solid #ccc; 
  }
  .line span {
    padding: 0 10px; 
  }
  /* 
This is for styling an eye container*/

  .password-eye {
    position: relative;
    display: inline-block;
    width: 100%
}
/* 
This is for styling an eye inside a box on password*/
.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    user-select: none;
    pointer-events: none; 
  
}

.account-creation{
    margin-top: 0;
}

